<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811806384097-ij4f2flg5chjtte4u98hqksu3bi6ulfs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811806384097-ij4f2flg5chjtte4u98hqksu3bi6ulfs</string>
	<key>API_KEY</key>
	<string>AIzaSyDRsIqEK86iqeVYskXITTWX8cDXk2Xc-JE</string>
	<key>GCM_SENDER_ID</key>
	<string>811806384097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app1</string>
	<key>PROJECT_ID</key>
	<string>health-app-firebase-3e2b5</string>
	<key>STORAGE_BUCKET</key>
	<string>health-app-firebase-3e2b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811806384097:ios:c631301d88ab995daf3ca0</string>
</dict>
</plist>